<nav>
    <ul>
        <!-- This is a Semantic HTML Change -->
        <li><a [routerLink]="['/']">Homepage</a></li>
        <!-- This is an A11y Change -->
        <li role="menuitem"><a [routerLink]="['/about']">About</a></li>
        <!-- This is an A11y Change -->
        <li role="menuitem"><a [routerLink]="['/login']">Login</a></li>
        <li role="menuitem"><a [routerLink]="['/contact']">Contact</a></li>
        <!-- This is an A11y Change -->
        <li role="menuitem"><a [routerLink]="['https://google.com']">Google</a></li>
    </ul>
</nav>